html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.75rem;
  background-color: #243345;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: inset 0 0 2px;
}
